*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.defalt{
    display: flex;
    margin: 50px;
    background-color: aqua;
}

.C1{
  justify-content: space-between;
}

.C2{
  justify-content: space-around;
}

.C3{
  justify-content: center;
}

.C4{
  justify-content: flex-end;
}

.C5{
  justify-content: space-between;
}

.SC1{
  background-color: yellow;
  display: flex;
}

.C6{
  justify-content: space-between;
}

.SC2{
  display: flex;
  justify-content: space-between;
  width: 960px;
  background-color: yellow;
}

.C7{
  justify-content: space-between;
}

.SC3{
  display: flex;
  background-color: yellow;
}

.C8{
  justify-content: space-around;
}

.SC4{
  display: flex;
  background-color: yellow;
}

.SC5{
  display: flex;
  background-color: yellow;
}

.C9{
  flex-direction: column;
  justify-content: space-between;
  height: 960px;
  align-items: flex-start;
}

.SC6{
  display: flex;
  background-color: yellow;
}

.SC7{
  display: flex;
  background-color: yellow;
}