@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P", system-ui;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url('../assets/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #362D3E;
    border: 6px solid #cd290c;
    color: #ffffff;
    border-radius: 18px;
    height: 60vh;
    width: 40vw;
    font-size: 1.8vh;
}

h1 {
    color: #F8B050;
}

.form-campos {
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 40vw;
    gap: 4%;
    margin-left: 15%;
}

.botoes {
    display: flex;
    justify-content: space-around;
    width: 40vw;
    height: 5vh;
    margin-bottom: 5%;
}

.cadastrar,
.voltar {
    background-color: #362D3E;
    color: white;
    width: 20%;
    font-size: 0.8em;
    border: 4px solid #cd290c;
    border-radius: 10px;
    cursor: pointer;
}

.usuario,
.email,
.senha,
.confirma-senha {
    width: 50%;
    height: 23%;
    background: #362D3E;
    border: 4px solid #cd290c;
    border-radius: 10px;
    outline: none;
    color: #ffffff;
    font-size: 0.6em;
}