*{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

title{
    display: none;
}

body{
    flex-wrap: wrap;
    display: grid;
}

header{
background-color: red;
height: 10vh;
}

nav{
background-color: aquamarine;
height: 5vh;
}

div{
    flex-direction: column;
    justify-content: center;

}

aside{
background-color: salmon;
height: 70vh;
width: 40vw;
}

main{
background-color: rgb(146, 255, 251);
height: 70vh;
flex-direction: row;
}

article{
background-color: rgb(0, 187, 255);
height: 60vh;
justify-content: space-around;
align-items: center;
width: 60vw;
}

figure{
background-color: yellow;
height: 20vh;
width: 25vw;
}

p{
background-color: greenyellow;
height: 20vh;
width: 25vw;
}

section{
background-color: blue;
height: 5vh;
align-self: center;
width: 15vw;
}

footer{
background-color: blueviolet;
height: 15vh;
}