*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{

    background-color: blue;
    color: white;
    padding: 50px;
}

.banner{
    background-image:linear-gradient(180deg, rgba(11,14,20,0), rgba(11,14,20,0.6)) ,url(https://picsum.photos/600/300);
    padding: 40px;
    margin: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.banner p{
    margin: 5px 0 0;
    color: white;
}

.destaque{
    color: blue;
}

#especial{
    background-color: blueviolet;
    padding: 5px;
    border-radius: 10px;
    width: 500px;
}

img{
    max-width: 50%;
    border-radius: 8px;
}

table{
    border-collapse:collapse ;
    width: 100%;
    margin-top: 10px;
}

th, td{
    border: 1px solid black;
    padding: 8px;
}

th{
    background-color: #101522;
}

.botao {
    background-color: aqua;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    color: white;
}

.botao:hover{
    cursor: pointer;
    background-color: blueviolet;
    padding: 20px 30px;
}