﻿@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>

    <link rel="stylesheet" href="`/styles/style.css">
</head>

<body>
    <header>
        <div class="logo">
            <img src="assets/1158.png" alt="Pokebola">
        </div>
        <div class="cabecalho">
            <h1>Pokedex</h1>
        </div>
        <div class="espaco-direita"></div>
    </header>

    <div class="hero">
        <aside>
            <img class="botao-a" src="assets/buttomA.png" alt="">
            <img class="botao-b" src="assets/buttomB.png" alt="">
            <img class="joystick" src="assets/joystick.png" alt="">
        </aside>

        <main>
            <section class="container-cima">
                <div class="buscar">
                    <div class="busca-nome">
                        <input type="text" placeholder="Buscar por nome">
                        <img class="lupa" src="assets/rlupa.svg" alt="">
                    </div>
                    <div class="busca-tipo">
                        <input type="text" placeholder="Buscar por tipo">
                        <img class="seta" src="assets/rseta.svg" alt="">
                    </div>
                </div>

                <div class="pokemon-layer-1">
                    <div class="pokemon-1">
                        <div class="poke-cima">
                            <p>Nome:</p>
                            <p>tipo:</p>
                        </div>
                        <div class="poke-baixo">
                            <button class="botao-editar">Editar</button>
                            <button class="botao-excluir">Excluir</button>
                        </div>
                    </div>
                    <div class="pokemon-2">
                        <div class="poke-cima">
                            <p>Nome:</p>
                            <p>tipo:</p>
                        </div>
                        <div class="poke-baixo">
                            <button class="botao-editar">Editar</button>
                            <button class="botao-excluir">Excluir</button>
                        </div>
                    </div>
                    <div class="pokemon-3">
                        <div class="poke-cima">
                            <p>Nome:</p>
                            <p>tipo:</p>
                        </div>
                        <div class="poke-baixo">
                            <button class="botao-editar">Editar</button>
                            <button class="botao-excluir">Excluir</button>
                        </div>
                    </div>
                </div>

                <div class="pokemon-layer-2">
                    <div class="pokemon-4">
                        <div class="poke-cima">
                            <p>Nome:</p>
                            <p>tipo:</p>
                        </div>
                        <div class="poke-baixo">
                            <button class="botao-editar">Editar</button>
                            <button class="botao-excluir">Excluir</button>
                        </div>
                    </div>
                    <div class="pokemon-5">
                        <div class="poke-cima">
                            <p>Nome:</p>
                            <p>tipo:</p>
                        </div>
                        <div class="poke-baixo">
                            <button class="botao-editar">Editar</button>
                            <button class="botao-excluir">Excluir</button>
                        </div>
                    </div>
                    <div class="pokemon-6">
                        <div class="poke-cima">
                            <p>Nome:</p>
                            <p>tipo:</p>
                        </div>
                        <div class="poke-baixo">
                            <button class="botao-editar">Editar</button>
                            <button class="botao-excluir">Excluir</button>
                        </div>
                    </div>
                </div>

                <div class="add-layer">
                    <button class="botao-add">+ adicionar pokemon</button>
                </div>
            </section>

            <section class="container-baixo">
                <div class="add-baixo-esq">
                     <div class="edit-add-layer">
                    <button class="botao-add">adicionar novo pokemon</button>
                </div>
                <div class="add-layer">
                    <div class="add-nome">
                        <input type="text" placeholder="Nome:">
                    </div>
                    <div class="add-tipo">
                        <input type="text" placeholder="Tipo:">
                        <img class="add-seta" src="assets/rseta.svg" alt="">
                    </div>
                    <div class="confirm-layer">
                            <button class="botao-editar">Salvar</button>
                            <button class="botao-excluir">Cancelar</button>
                    </div>
                </div>
                </div>
                
                <div class="add-baixo-dir">
                    <p class="aviso-seguranca">Deseja excluir o “pokemon”?</p>
                    <button class="botao-confirmacao">Sim,excluir</button>
                    <button class="botao-cancelar">Cancelar</button>
                </div>

            </section>
        </main>
    </div>

</body>

</html>